Flask
Flask-Session
fastapi
pydantic
torch
torchvision
Pillow
numpy
requests
re
random
secrets
logging
python-dotenv
fpdf
python-docx
werkzeug
pickle5
transformers
langchain
langchain-pinecone
langchain-google-genai
pinecone-client
spellchecker
